.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    background-color: #fff;
}

.flex-container > div {
    background-color: #2a3e56;
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: 30px;
    width: 150px; /* will be overwritten if needed */
    height: 150px; /* will be overwritten if needed */
    vertical-align: middle;
    border-radius: 4px;
}

.sys {
    /*font-style: italic;*/
    /*background-color: #476689;*/
    background-color: #6c8dae;
    color: #fff;
}

.sys a {
    color: white;
}

img {
    padding: 8px;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
img:hover {
	cursor: pointer;
}

h3, h4, h5 {
    margin: 15px 0 3px;
    background-color: #dee5ee;
    font-weight: bold;
    padding: 6px 6px 6px 9px;
}
